/**********************/
/* Page de l'alphabet */
/**********************/

.mainAlphabet {
  /*border: 2px solid white;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

/* Bloc du corps du haut */
.mainAlphabetTop {
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60%;
}

/* Bloc du corps du bas */
.mainAlphabetBottom {
  /*border: 1px solid green;*/
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
}

.alphabet-title {
  margin-top: 100px;
  user-select: none;
  font-size: 2.4em;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 7px 5px var(--color-dark), 0px -4px 10px var(--color-light);
}

/* Alphabet */
.alphabet {
  margin-top: 40px;
  width: 100%;
  list-style-type: none;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.alphabet li {
  margin: 0;
  padding: 0;
  border-right: 2px solid var(--color-light);
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 70px;
  text-align: center;
}

.alphabet li:nth-child(15),
.alphabet li:last-child {
  border-right: none;
}

/* Lettres */
.letters {
  display: inline-block;
  margin-right: 2px;
  font-family: var(--font-title);
  font-size: 3.2em;
  color: #000;
  text-shadow: 3px 4px 7px var(--color-dark);
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.letters:hover {
  color: var(--color-main);
  text-decoration: none;
  transform: scale(1.2);
  transition: background 0.4s;
}

/* Boîte de sélection */
.mainAlphabetTop .select-box {
  display: none;
}

.select-box {
  position: relative;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  border: 2px solid var(--color-light);
  width: 120px;
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--color-dark);
  background: var(--color-dark);
}

.select-box select {
  padding: 5px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: var(--color-dark);
  background-image: none;
  color: var(--color-light);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.select-box select,
.select-box optgroup,
.select-box option {
  font-size: 40px;
  font-weight: 500;
  font-family: var(--font-title);
}

.select-box:after {
  top: 50%;
  left: 85%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: var(--color-light);
  border-width: 5px;
  font-size: 40px;
  font-weight: 500;
  font-family: var(--font-title);
  margin-top: -2px;
  z-index: 100;
}

.select-box select:focus {
  outline: none;
}

/* Tableau */
.tType {
  border: none;
  border-collapse: separate;
}

/* Cellules du tableau */
.tType td {
  border: none;
  background-color: transparent;
  text-align: center;
  padding: 14px;
  font-size: 1em;
}

/* Posters */
.tType td a {
  cursor: pointer;
}

.tType td img {
  display: block;
  width: 160px;
  height: 240px;
  object-fit: cover;
  border: 1px solid var(--color-light);
}

.tType td img:hover {
  box-shadow: 1px 1px 20px var(--color-light);
  transition: box-shadow 0.2s ease-in-out;
}