/**********/
/* Design */
/**********/

/* 🎨 Palette */
:root {
  --color-dark: #383644;
  --color-darker: #222129;
  --color-light: #fbf5d9;
  --color-main: #ce3e3e;
  --color-extra: #014ba4;
  --color-extralighter: #008fd9;
  --font-title: "Truculenta", sans-serif;
  --font-text: "Roboto", sans-serif;
}

/* Police */
h1 {
  font-family: var(--font-title);
}

/* Message d'erreur */
.nfType {
  margin: 20%;
  user-select: none;
  font-size: 3vw;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 7px 5px var(--color-dark), 0px -4px 10px var(--color-light);
}

/* Image de fond sur toute la page */
body {
  /* Appel de l'image de fond */
  background-image: url(../img/bg.png);
  /* Centrer l'image d'arrière-plan verticalement et horizontalement à tout moment */
  background-position: center center;
  /* Empêcher l'image d'arrière-plan d'être en mosaïque */
  background-repeat: no-repeat;
  /* Fixer l'image d'arrière-plan dans la fenêtre de sorte qu'elle ne bouge pas lorsque la hauteur du contenu est supérieure à la hauteur de l'image */
  background-attachment: fixed;
  /* Redimensionner l'image d'arrière-plan basée sur la taille du conteneur */
  background-size: cover;
  /* Définir une couleur d'arrière-plan qui sera affichée pendant le chargement de l'image d'arrière-plan */
  background-color: var(--color-extralighter);
}

/* Scrollbar personnalisée pour Chrome, Edge, Safari et Opera */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-dark);
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-light);
  border-radius: 2px;
}

/* Scrollbar personnalisée pour FireFox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--color-dark) var(--color-light);
}

/* Surligner un texte sélectionné en couleur */
::selection {
  background-color: var(--color-extra);
}

/* Bouton retour au début */
.scrollToTopBtn {
  /* Placement dans le coin en bas à droite de l'écran */
  position: fixed;
  bottom: 15px;
  right: 15px;
  /* Design */
  background-color: var(--color-dark);
  border: none;
  border-radius: 50%;
  color: var(--color-light);
  cursor: pointer;
  /* Dimensions */
  font-size: 30px;
  line-height: 50px;
  width: 50px;
  z-index: 99999;
  /* Cacher */
  opacity: 0;
  /* Effet et transition */
  transform: translateY(100px);
  transition: all 0.5s ease;
}

.showBtn {
  /* Dévoiler */
  opacity: 1;
  transform: translateY(0);
}

/* Bouton aléatoire */
.random-btn-container {
  margin: 10px;
  font-size: 1.8em;
  color: var(--color-darker);
  text-shadow: 1px 3px 2px var(--color-dark), 0px -2px 5px var(--color-light);
}

.random-btn-container a {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.random-btn-container a:hover {
  fill: var(--color-light);
  transform: scale(1.12);
  filter: drop-shadow(1px 3px 2px var(--color-dark));
}