/**********************/
/* Page de la galerie */
/**********************/

/* Reset User Agent */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Image de fond sur toute la page */
body {
  /* Appel de l'image de fond */
  background-image: url(../img/bg_gallery.png);
  /* Centrer l'image d'arrière-plan verticalement et horizontalement à tout moment */
  background-position: center center;
  /* Empêcher l'image d'arrière-plan d'être en mosaïque */
  background-repeat: no-repeat;
  /* Fixer l'image d'arrière-plan dans la fenêtre de sorte qu'elle ne bouge pas lorsque la hauteur du contenu est supérieure à la hauteur de l'image */
  background-attachment: fixed;
  /* Redimensionner l'image d'arrière-plan basée sur la taille du conteneur */
  background-size: cover;
  /* Définir une couleur d'arrière-plan qui sera affichée pendant le chargement de l'image d'arrière-plan */
  background-color: var(--color-extralighter);
}

/* Bloc d'en-tête global */
#header {
  /*border: 1px solid black;*/
  margin: 0;
  display: flex;
  width: 100%;
  height: 20vh;
}

/* Bloc d'en-tête de gauche */
#header #headerLeft {
  /*border: 1px solid red;*/
  width: 33.33%;
  height: 100%;
}

/* Bloc d'en-tête du milieu */
#header #headerMain {
  /*border: 1px solid goldenrod;*/
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.33%;
  height: 100%;
}

/* Logo du site */
#header #headerMain img {
  max-width: 100%;
  height: auto;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

/* Bloc d'en-tête de droite */
#header #headerRight {
  /*border: 1px solid red;*/
  width: 33.33%;
  height: 100%;
}

/* Bloc du corps global */
#main {
  /*border: 2px solid white;*/
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80vh;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  user-select: none;
}