/************************/
/*      Responsive      */
/************************/
/*  Portables : 1660px  */
/*  Tablettes : 1024px  */
/*  Smartphones : 767px */
/************************/

/**********/
/* HEADER */
/**********/
/* Liste d'éléments sans ordre */
@media all and (min-width: 1024px) {
  nav ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/* Éléments de la liste */
@media all and (max-width: 1800px) {
  nav ul a.btn-type-movie {
    font-size: 1.4em;
    padding: 20px 30px;
  }
}

@media all and (max-width: 1660px) {
  nav ul a.btn-type-movie {
    font-size: 1.2em;
    padding: 24px 22px;
  }
}

@media all and (max-width: 1300px) {
  nav ul a.btn-type {
    font-size: 1.4em;
    padding: 20px 30px;
  }

  nav ul a.btn-type-movie {
    font-size: 0.8em;
    padding: 28px 16px;
  }
}

@media all and (max-width: 1023px) {
  nav ul a.btn-type {
    font-size: 1.4em;
  }

  nav ul a.btn-type:hover {
    box-shadow: 0px 0px 0px 0px #d1cbb2;
  }

  nav>ul>li:last-child>a:hover {
    box-shadow: 0px 5.5px 0px 0px #d1cbb2;
  }
}

@media all and (min-width: 1024px) {
  nav ul li {
    display: block;
  }

  nav ul a {
    padding: 20px;
  }
}

/* Icône Sebflix */
@media all and (min-width: 1024px) {
  .icon {
    display: block;
    margin: initial;
  }

  .icon-trigger {
    order: initial;
  }
}

@media all and (max-width: 1024px) {
  .btn-icon svg:hover {
    transform: scale(1);
  }
}

/* Texte d'accueil */
@media all and (max-width: 1300px) {
  .welcome-text {
    font-size: 1.3em;
  }
}

@media all and (max-width: 1024px) {
  .welcome-text {
    font-size: 1em;
  }

  .welcome-text p {
    width: 100%;
  }
}

@media all and (max-width: 900px) {
  .welcome-text {
    display: none;
  }
}

@media all and (max-height: 750px) {
  .welcome-text {
    margin-top: 48px;
  }
}

/* Alphabet */
@media all and (max-width: 1800px) {
  .mainAlphabetTop {
    width: 90%;
  }
}

@media all and (max-width: 1660px) {
  .hType {
    font-size: 2.6em;
  }

  .alphabet li {
    width: 70px;
  }

  .letters {
    margin-right: 6px;
    font-size: 3.2em;
  }
}

@media all and (max-width: 1450px) {
  .hType {
    font-size: 2.5em;
  }

  .alphabet li {
    width: 60px;
  }

  .letters {
    font-size: 3em;
  }

  .tType td {
    padding: 10px;
  }

  .tType td img {
    width: 120px;
    height: 180px;
  }
}

@media all and (max-width: 1300px) {
  .hType {
    font-size: 2.4em;
  }

  .alphabet li {
    width: 50px;
  }

  .letters {
    font-size: 2.8em;
  }
}

@media all and (max-width: 1024px) {
  .mainAlphabetTop {
    height: 100%;
  }

  .mainAlphabetBottom {
    height: 0%;
  }

  .mainAlphabetBottom table {
    display: none;
  }

  .hType {
    margin-top: 0px;
    font-size: 2em;
  }

  .alphabet li {
    width: 40px;
  }

  .letters {
    font-size: 2.4em;
  }
}

@media all and (max-width: 767px) {
  .hType {
    font-size: 1.6em;
  }

  .alphabet li {
    width: 30px;
  }

  .letters {
    font-size: 2em;
  }
}

@media all and (max-width: 600px) {
  .hType {
    font-size: 1.5em;
  }

  .alphabet li {
    width: 20px;
  }

  .letters {
    font-size: 1.6em;
  }
}

@media all and (max-width: 400px) {
  .hType {
    font-size: 1.4em;
  }

  .letters {
    font-size: 1.2em;
  }
}

/* Tableaux */
@media all and (max-width: 1600px) {
  h1 {
    font-size: 1.6em;
  }

  .random-btn-container {
    font-size: 1.6em;
  }

  .tRandom img {
    width: 120px;
    height: 180px;
  }
}

@media all and (max-width: 1300px) {
  .mainTop {
    height: 100%;
  }

  .mainBottom {
    height: 0%;
  }

  .random-btn-container,
  .tRandom,
  .mainBottom table {
    display: none;
  }
}

/* Résultats de recherche */
@media all and (max-width: 1800px) {
  #gallery {
    margin: 100px;
  }

  .gPoster {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media all and (max-width: 1660px) {
  #gallery {
    margin: 100px;
  }

  .gPoster {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media all and (max-width: 1300px) {
  .results h1 {
    font-size: 2.2em;
  }

  #gallery {
    margin: 60px;
  }

  .gPoster {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
  }
}

@media all and (max-width: 1024px) {
  .results h1 {
    font-size: 2em;
  }

  #gallery {
    margin: 60px;
  }

  .gPoster {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

@media all and (max-width: 767px) {
  .results h1 {
    font-size: 1.8em;
  }

  #gallery {
    margin: 40px;
  }

  .gPoster {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 80px;
  }
}

/* Viewpages */
@media all and (max-width: 1660px) {
  .catch {
    font-size: 2em;
  }

  .tcasting {
    font-size: 0.9em;
  }

  .tcasting img {
    width: 160px;
    height: 240px;
  }
}

@media all and (max-width: 1300px) {
  .table-rating {
    margin-top: 200px;
  }

  th {
    font-size: 1.4em;
  }

  .trating {
    font-size: 3em;
  }

  .trating .starsRating {
    width: 136.2px;
    height: 28.8px;
  }

  .tpremiered {
    font-size: 2em;
  }

  .trating img,
  .tcsa img,
  .tcountry img,
  .tpremiered img {
    width: 35px;
    height: 35px;
  }

  .firstPage .mainTop,
  .secondPage .mainTop {
    height: 80vh;
  }

  .firstPage .mainBottom,
  .secondPage .mainTop {
    height: 20vh;
  }

  iframe,
  .embedPlaceholder {
    margin-top: 100px;
  }

  .catch {
    font-size: 1.8em;
  }

  .secondPage .tsynopsis {
    font-size: 1em;
  }

  .secondPage .tsynopsis::first-letter {
    font-size: 1.1em;
  }

  .secondPage .tstudio {
    font-size: 0.8em;
  }
}

@media all and (max-width: 1024px) {
  #headerViewpage #headerMain img {
    margin-top: 20px;
    width: 256px;
    height: 99.2px;
  }

  .table-discart {
    display: none;
  }

  th {
    font-size: 1.2em;
  }

  .tpremiered {
    font-size: 1.8em;
  }

  .catch {
    font-size: 1.6em;
  }
}

@media all and (max-width: 767px) {
  .catch {
    font-size: 1.4em;
  }
}

@media all and (max-width: 600px) {
  .catch {
    font-size: 1.2em;
  }
}

@media all and (max-width: 400px) {
  .catch {
    font-size: 1em;
  }
}

/* Footer */
@media all and (max-width: 1300px) {
  #logoSite {
    width: 143.1px;
    height: 50.1px;
  }

  .copyright,
  .iconDev {
    display: none;
  }
}

@media all and (max-width: 767px) {
  footer .footerInner {
    padding: 30px 20px;
  }

  #logoSite {
    width: 119.25px;
    height: 41.75px;
  }

  footer .dev,
  footer .social {
    margin-bottom: 0;
  }

  footer .dev a,
  footer .social a {
    padding: 3px;
  }
}