/***************************/
/* Style global de Sebflix */
/* Date : 03/04/2021 *******/
/* v.1.0 *******************/
/***************************/

/***********/
/* GENERAL */
/***********/
/* Reset User Agent */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

/**********/
/* HEADER */
/**********/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--color-dark);
  background-image: url(/assets/img/header.png);
  z-index: 99999;
  border-bottom: 6px solid var(--color-darker);
  box-shadow: 0px 0px 30px #000;
}

/* Liste d'éléments sans ordre */
nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

/* Éléments de la liste */
nav ul li {
  display: none;
}

/* Boutons de la liste */
nav ul a.btn-type {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: var(--font-title);
  font-size: 1.2em;
  font-weight: 600;
  color: var(--color-light);
  text-align: center;
  padding: 16px 28px;
  transition: background 0.24s, box-shadow 0.12s;
  user-select: none;
}

nav ul a.btn-type:hover {
  color: var(--color-dark);
  background: var(--color-light);
  box-shadow: 0px 5.5px 0px 0px #d1cbb2;
}

nav ul a.btn-type-movie {
  font-size: 1.2em;
  padding: 16px 28px
}

/* Icône Sebflix */
.icon {
  display: block;
  margin: 0 auto;
  padding: 0px 28px
}

.icon-trigger {
  display: block;
  order: -1;
  padding: 12px 28px
}

.icon-visible {
  display: block;
}

nav ul a.btn-icon {
  display: block;
  padding: 0px 0px;
}

.btn-icon svg {
  display: block;
  transition: all .15s ease-in-out;
}

.btn-icon svg:hover {
  transform: scale(1.16);
}

/* Bouton du profil */
.profile {
  position: fixed;
  top: 20px;
  right: 70px;
  font-family: var(--font-title);
  font-size: 0.9em;
  font-weight: 700;
}

.username {
  color: var(--color-light);
}

.disconnected {
  color: var(--color-main);
}

.avatar-btn,
.profile-btn {
  position: fixed;
  top: 11px;
  right: 16px;
}

.avatar-btn img {
  display: block;
  width: 38px;
  height: 38px;
  padding: .10rem;
  background-color: var(--color-light);
  border: 2px solid var(--color-darker);
  object-fit: cover;
  transition: 0.1s;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.avatar-btn,
.avatar-btn img {
  border-radius: 50px;
}

.profile-btn img {
  display: block;
  width: 47.2px;
  height: 33.2px;
  transition: 0.1s;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.avatar-btn img:hover,
.profile-btn img:hover {
  transform: scale(1.06);
}

/****************/
/* MAIN CONTENT */
/****************/
/* Bloc du corps global */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

/* Bloc du corps du haut */
.mainTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

/* Texte d'accueil */
.welcome-text {
  margin-bottom: 24px;
  font-family: var(--font-title);
  color: var(--color-light);
  font-size: 1.2em;
  font-weight: 500;
  font-style: italic;
  line-height: 1.4;
  letter-spacing: 1px;
  user-select: none;
}

.welcome-text p {
  width: 800px;
  text-align: center;
}

.welcome-text p span {
  font-weight: 700;
}

/* Bloc du corps du bas */
.mainBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 50%;
}

h1 {
  user-select: none;
  font-size: 2em;
  text-transform: uppercase;
  color: var(--color-darker);
  text-shadow: 1px 3px 2px var(--color-dark), 0px -2px 5px var(--color-light);
}

/* Tableau */
table {
  display: flex;
  justify-content: flex-start;
  border: none;
  border-collapse: separate;
}

/* Cellules du tableau */
td {
  border: none;
  background-color: transparent;
  text-align: center;
  padding: 16px;
  font-size: 1em;
}

/* Posters */
td a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-light);
  font-family: var(--font-title);
  font-size: 1.3em;
  font-weight: 500;
}

td img {
  display: block;
  background-color: var(--color-dark);
  border: 1px solid var(--color-light);
  width: 192px;
  height: 288px;
  transition: 0.4s;
}

.tRandom img {
  width: 160px;
  height: 240px;
}

td img:hover {
  box-shadow: 1px 1px 20px var(--color-light);
  transform: scale(1.05);
  transition: box-shadow 0.1s ease-in-out;
}