/************/
/* Viewpage */
/************/

/* Reset User Agent */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

/* Bloc d'en-tête global */
#headerViewpage {
  /*border: 1px solid black;*/
  margin: 0;
  display: flex;
  width: 100%;
  height: 20vh;
}

/* Bloc d'en-tête de gauche */
#headerViewpage #headerLeft {
  /*border: 1px solid red;*/
  text-align: center;
  width: 33.33%;
  height: 100%;
}

/* Bloc d'en-tête du milieu */
#headerViewpage #headerMain {
  /*border: 1px solid goldenrod;*/
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.33%;
  height: 100%;
  color: var(--color-light);
  font-family: var(--font-title);
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 4px 4px var(--color-darker);
  user-select: none;
}

/* Logo du média */
#headerViewpage #headerMain img {
  margin-top: 40px;
  width: 320px;
  height: 124px;
}

/* Bloc d'en-tête de droite */
#headerViewpage #headerRight {
  /*border: 1px solid red;*/
  display: flex;
  justify-content: flex-end;
  /* "justify-content:right" ne fonctionne pas sur tous les navigateurs */
  width: 33.33%;
  height: 100%;
}

/* Bloc du corps global de la 1ère page */
.firstPage {
  /*border: 2px solid white;*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80vh;
}

/* Bloc du corps global de la 2ème page */
.secondPage {
  /*border: 2px solid white;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

/* Bloc du corps du haut */
.mainTop {
  /*border: 1px solid red;*/
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

/* Ombre de la bande-annonce */
iframe,
.embedPlaceholder {
  filter: drop-shadow(4px 4px 2px #000000);
}

/* Phrase d'accroche */
.catch {
  background-color: transparent;
  border-radius: 3px;
  color: var(--color-light);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  transform-style: preserve-3d;
  perspective: 2000px;
  transition: 0.4s;
  text-align: center;
}

.catch:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-top: 20px solid var(--color-light);
  border-left: 20px solid var(--color-light);
  box-sizing: border-box;
}

.catch:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 20px solid var(--color-light);
  border-right: 20px solid var(--color-light);
  box-sizing: border-box;
}

.catch .fas {
  font-size: 25px;
  height: 50px;
  width: 50px;
  line-height: 50px !important;
  background-color: var(--color-light);
  color: var(--color-dark);
}

.catch .fa2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.catch .text {
  position: absolute;
  top: 30px;
  left: -30px;
  width: calc(100% + 60px);
  height: calc(100% - 60px);
  background-color: var(--color-dark);
  border-radius: 3px;
  transition: 0.4s;
}

.catch .text .fa1 {
  position: absolute;
  top: 0;
  left: 0;
}

.catch .text div {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  padding: 30px 60px;
  line-height: 1.5;
  box-sizing: border-box;
}

.catch .text div p {
  font-family: var(--font-title);
  font-style: italic;
  font-size: 1.3em;
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.catch:hover {
  transform: translate(-50%, -50%) rotateY(-20deg) skewY(3deg);
}

.catch:hover .text {
  transform: rotateY(20deg) skewY(-3deg);
}

/* Bloc du corps du bas */
.mainBottom {
  /*border: 1px solid green;*/
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

/* Tableaux */
.table-rating {
  border-collapse: collapse;
  font-family: var(--font-text);
  margin-top: 1.2em;
  margin-left: 1.2em;
  margin-bottom: 1em;
  filter: drop-shadow(7px 5px 2px #000000);
}

.table-discart {
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
}

.table-rows {
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  font-family: var(--font-text);
  filter: drop-shadow(7px 5px 2px #000000);
}

.table-rows tr th:first-child {
  width: 85%;
}

.table-rows tr th:nth-child(2) {
  width: 15%;
}

.table-casting {
  border-collapse: collapse;
  font-family: var(--font-title);
  font-size: 1.2em;
  margin-top: 4em;
  margin-left: 2.4em;
  margin-right: 2.4em;
  filter: drop-shadow(7px 5px 2px #000000);
}

/* Cellules d'en-tête des tableaux */
th {
  background-color: var(--color-main);
  color: var(--color-light);
  border: thin solid var(--color-light);
  font-family: var(--font-title);
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em;
  user-select: none;
}

.table-casting th {
  font-size: 1.1em;
}

/* Cellules des tableaux */
td {
  background-color: var(--color-dark);
  color: var(--color-light);
  border: thin solid var(--color-light);
  text-align: left;
}

.trating {
  padding-left: 20px;
  padding-right: 20px;
  font-family: var(--font-title);
  font-size: 2.2em;
  text-align: center;
}

.trating .starsRating {
  display: block;
  margin: 0 auto;
  width: 136.2px;
  height: 28.8px;
  min-width: 100%;
  text-align: center;
}

.tcsa {
  padding: 20px;
  text-align: center;
}

.tcountry,
.tpremiered {
  padding: 20px;
  font-family: var(--font-title);
  font-size: 1.8em;
  text-align: center;
}

.trating img,
.tcsa img,
.tcountry img,
.tpremiered img {
  display: block;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  text-align: center;
}

.tdiscart {
  text-align: center;
  padding: 8px;
  filter: drop-shadow(7px 5px 2px #000000);
}

.discart-container {
  filter: drop-shadow(6px 5px 2px #000000);
}

.tdiscart img {
  display: block;
  width: 180px;
  height: 180px;
  max-width: 100%;
  border-radius: 50%;
}

.tsynopsis {
  padding: 1%;
  font-size: 0.9em;
  font-style: italic;
  line-height: 1.8;
  letter-spacing: 0.8px;
}

.tsynopsis::first-letter {
  font-size: 1.6em;
  font-weight: 500;
}

.tsynopsis::first-line {
  line-height: 1;
}

.readandspeech {
  cursor: pointer;
  color: var(--color-darker);
  text-shadow: 1px 3px 2px var(--color-dark), 0px -2px 5px var(--color-light);
}

.tstudio {
  padding: 1%;
  text-align: center;
  font-size: 1em;
}

.tstudio a {
  text-decoration: none;
  color: var(--color-light);
}

.tstudio img {
  display: block;
  margin: 0 auto;
  width: 128.8px;
  height: auto;
  max-width: 100%;
  text-align: center;
}

.tcasting {
  padding: 0;
  text-align: center;
  font-size: 0.9em;
  font-weight: 700;
}

.tcasting img {
  display: block;
  width: 144px;
  height: 216px;
  text-align: center;
  object-fit: cover;
}

.tcasting figcaption {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 8rem;
  margin: 0 auto;
}