/******************/
/* Interface CRUD */
/******************/

/* Titres */
.my-5 {
  margin-top: 0 !important;
  color: var(--color-light);
  font-size: 2.4em;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: var(--font-title);
  user-select: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-light);
  text-shadow: 3px 8px 6px #000, 0px -5px 12px #000;
}

h1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

h2 {
  margin-top: 10px;
  font-size: 1.6rem;
}

h3 {
  margin-top: 10px;
  font-size: 1.4rem;
}

h3 a {
  color: var(--color-light);
  text-decoration: underline;
}

.modal-title {
  font-size: calc(1.1rem + .2vw);
  color: #000000;
}

#avatar-img {
  width: 180px;
  height: 180px;
  background-color: var(--color-light);
  border: 4px solid var(--color-dark);
  object-fit: cover;
}

/* Boutons */
.btn-toolbar {
  margin-bottom: 40px;
}

.btn {
  margin: 6px;
  font-family: var(--font-title);
  font-size: 0.8rem;
  font-weight: 600;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.button_link {
  margin-top: 20px;
  margin: 6px;
  padding: 10px;
  font-family: var(--font-title);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--color-light);
  text-decoration: none;
  background-color: var(--color-dark);
  border: 2px solid var(--color-light);
  border-radius: 10px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  transition: 0.2s;
  user-select: none;
}

.button_link:hover {
  color: var(--color-light);
  transform: scale(1.03);
  transition: box-shadow 0.1s ease-in-out;
}

.btn-primary {
  color: var(--color-light);
  background-color: var(--color-main);
  border-color: var(--color-main);
}

.btn-primary:hover {
  background-color: var(--color-extra);
  border-color: var(--color-extra);
}

.ajax-action-links {
  display: inline-block;
  margin: 4px;
  transition: 0.1s;
}

.ajax-action-links img {
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.ajax-action-links:hover {
  transform: scale(1.08);
}

.demo-form-submit {
  color: var(--color-light);
  font-size: 1.1em;
  font-weight: 700;
  background-color: var(--color-main);
  padding: 10px 40px;
  border: 0px;
  cursor: pointer;
}

.demo-form-submit:hover {
  background-color: var(--color-extra);
  border-color: var(--color-extra);
}

.form-check-input {
  background-color: var(--color-light);
}

.form-check-input:checked {
  background-color: var(--color-main);
  border-color: var(--color-main);
}

/* Bloc de recherche */
.container-search {
  margin-bottom: 40px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-title);
}

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  padding-right: 40px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: var(--color-dark);
  border: 2px solid var(--color-light);
  color: #fff;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.input-search::placeholder {
  color: var(--color-light);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  position: absolute;
  right: 0px;
  color: var(--color-light);
  background-color: transparent;
  pointer-events: painted;
}

.btn-search:focus~.input-search {
  width: 240px;
  border-radius: 0px;
  background-color: var(--color-dark);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
  width: 240px;
  border-radius: 0px;
  background-color: var(--color-dark);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/* Autocomplétion Chrome */
.search-box input:-webkit-autofill,
.search-box input:-webkit-autofill:hover,
.search-box input:-webkit-autofill:focus,
.search-box input:-webkit-autofill:active {
  background-color: var(--color-dark);
  -webkit-text-fill-color: var(--color-light);
  transition: background-color 5000s ease-in-out 0s;
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
}

.search-box input:-webkit-autofill::first-line {
  font-family: var(--font-title);
  font-size: 18px;
}

@keyframes autofill {
  100% {
    font-size: inherit;
  }
}

@-webkit-keyframes autofill {
  100% {
    font-size: inherit;
  }
}

/* Formulaires */
.wrapper {
  position: relative;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 360px;
  padding: 20px;
  background-color: #444152;
  background-image: url(/assets/img/form.png);
  color: var(--color-light);
  font-family: var(--font-title);
  font-weight: 600;
  border: 2px solid var(--color-light);
  filter: drop-shadow(4px 4px 2px #000000);
}

.wrapper .invite {
  color: var(--color-extralighter);
}

.wrapper img {
  position: absolute;
  top: -38px;
  left: -24px;
  width: 107.1px;
  height: 83.55px;
  filter: drop-shadow(4px 4px 2px #000000);
}

.form-group {
  margin-top: 6px;
}

.form-control.is-invalid {
  border-color: var(--color-main);
}

.invalid-feedback {
  color: var(--color-main);
}

.form-control {
  background-color: var(--color-light);
}

/* Liste des médias */
.tbl-qa {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 90%;
  font-size: 0.9em;
  background-color: var(--color-light);
  filter: drop-shadow(4px 4px 2px #000000);
}

.tbl-qa tr {
  font-size: 1em;
}

.tbl-qa th.table-header {
  padding: 10px;
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: var(--font-title);
  font-size: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 3px 4px #000, 0px -3px 6px #000;
}

.tbl-qa th.table-header.title {
  padding-top: 5px;
  padding-bottom: 0;
  font-size: 1.4em;
}

#table-body {
  font-family: var(--font-text);
}

.table-row {
  border-width: 1;
}

#td-id,
#td-title,
#td-text,
#td-avatar,
#td-genre,
#td-actions {
  font-size: 1em;
  justify-content: center;
  text-align: center;
}

#td-id {
  font-weight: 700;
}

#td-title {
  font-weight: 600;
}

#td-italic {
  font-size: 1em;
  font-style: italic;
}

.max-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#td-text {
  font-weight: 500;
}

#td-image,
#td-avatar {
  padding: 0;
}

#td-avatar,
#td-genre {
  padding-top: 8px;
  padding-bottom: 8px;
}

#td-image img {
  display: block;
  text-align: center;
  max-width: 100%;
  height: auto;
}

#td-avatar img {
  padding: .10rem;
  width: 60px;
  height: 60px;
  background-color: var(--color-light);
  border: 2px solid var(--color-dark);
  object-fit: cover;
  cursor: pointer;
}

#td-genre img {
  width: 20px;
  height: auto;
}

#td-actions {
  user-select: none;
}

.tbl-qa .table-row td {
  justify-content: center;
  padding: 10px;
  background-color: var(--color-light);
  text-align: justify;
  vertical-align: top;
}

.frm-add {
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin-top: 40px;
  padding: 30px;
  padding-top: 20px;
  background-color: #444152;
  background-image: url(/assets/img/form.png);
  font-family: var(--font-title);
  font-weight: 600;
  border: 2px solid var(--color-light);
  filter: drop-shadow(4px 4px 2px #000000);
}

.demo-form-heading {
  margin-top: 0px;
  font-weight: 500;
}

.demo-form-row {
  margin-top: 20px;
}

.demo-form-row label,
.demo-form-row #picture,
.demo-form-row #picture-file {
  color: var(--color-light);
}

.form-group label span,
.demo-form-row label span {
  color: var(--color-main);
  font-weight: 900;
}

.demo-form-row .dropdown {
  width: 300px;
}

.demo-form-row img {
  object-fit: cover;
  cursor: pointer;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.demo-form-row .form-poster {
  width: 160px;
  height: 240px;
}

.demo-form-row .form-background {
  width: 326.4px;
  height: 183.6px;
}

.demo-form-field {
  width: 300px;
  padding: 10px;
  font-family: var(--font-text);
  font-size: 0.8em;
}

.alert {
  font-family: var(--font-title);
  font-size: 1em;
  font-weight: 600;
}

/* Liste des utilisateurs */
.tbl-user {
  width: 40%;
}

/* Boîte de dialogue */
.modal-content {
  font-family: var(--font-title);
  font-weight: 600;
  background-color: var(--color-light);
  border: 2px solid #000000;
  filter: drop-shadow(2px 2px 1px #000000);
}

.modal-body {
  font-size: 1.2em;
}

.modal-media-title {
  font-style: italic;
  font-weight: 500;
  text-align: center;
}

.modal-footer .btn {
  font-family: var(--font-title);
  font-size: 1em;
  font-weight: 700;
}

.modal-footer .btn-info {
  color: #fff;
  background-color: var(--color-extra);
  border-color: var(--color-extra);
}

.modal-footer .btn-danger {
  background-color: var(--color-main);
  border-color: var(--color-main);
}

/* Watchlist */
.check-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  color: var(--color-light);
  font-family: var(--font-title);
  font-size: 1.1em;
  font-weight: 600;
  text-shadow: 1px 2px 2px #000, 0px -1px 2px #000;
  user-select: none;
}

.check-group input {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}